@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Saira:wght@400;700&display=swap");

body {
	overflow-x: hidden;
}
p {
	font-family: "Saira", "system-ui";
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Aldrich", "system-ui";
}
button:focus,
button:focus-visible {
	outline: 1 solid blue;
	border: none;
}
.toast {
	position: fixed;
	top: 12px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
